.container {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: 700px) {
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 46px;
  margin-top: 20px;
  background: var(--alabaster);
}

.toggle_btn,
.label {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 22px;
  background: var(--marine_blue);
  border-radius: 16px;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span::before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--white);
    transition: transform 200ms ease-in-out;
  }
}
.checkbox:checked ~ .translate::before {
  transform: translateX(20px);
}

.focus {
  outline: 2px solid var(--purplish_blue);
}
