.next {
  padding: 14px 16px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.marine {
  background-color: var(--marine_blue);
}
.purplish {
  background-color: var(--purplish_blue);
}
